{% extends '_layout.html' %}

{% block title %}Movie Rating App | Search Movie Ratings{% endblock %}

{% block body %}
<h1 class="mb-5">Search Movie Ratings</h1>
<p class="mb-3">Search for a movie rating below</p>

<form action="/movies/search" method="get">
    <div class="form-group">
      <label for="movie_search">Search by Title</label>
      <input type="text" class="form-control" name="movie_search" id="movie_search" placeholder="Movie Title">
      <input class="btn btn-primary" type="submit" value="Search">
    </div>
</form>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Movie Title</th>
        <th scope="col">Movie Director</th>
        <th scope="col">Movie Ratings</th>
      </tr>
    </thead>
    <tbody>
        <!--Testing attributes-->
        
            {% for i in found_movie  %}
                <tr>
                    <td> {{ i.title }} </td>
                    <td> {{ i.director }} </td>
                    <td> {{ i.rating }} </td>
                </tr>
            {% endfor %}
    </tbody>
  </table>


<!-- TODO: Feature 3 -->
{% endblock %}
