{% extends '_layout.html' %}

{% block title %}Movie Rating App | Search Movie Ratings{% endblock %}

{% block body %}
<h1 class="mb-5">Search Movie Ratings</h1>
<p class=" p-3">Search for a movie rating below</p>

<!--Begin Form-->
<form action="movies/search" method="get" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-12">
        <label class="visually-hidden" for="search_input">Movie Titile</label>
        <div class="input-group">
            <div class="input-group-text">Movie Title:</div>
            <input type="text" class="form-control" id="search_input" autocomplete="off">
        </div>
    </div>
    <div class="col-12">
        <a href ="/movies/search" <button type="submit" value="Submit" class="btn btn-primary name" name="search_active" id="search_active">Search</button></a>
    </div>
</form>


<!--End Form-->

{% endblock %}